body {
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.container {
  display: flex;
  margin-top: 30px;
  gap: 18px;
}

.input {
  border: 1px solid #ffe7c1;
  width: 300px;
  height: 30px;
  border-radius: 20px;
  padding: 0px 20px;
  font-size: 15px;
  text-align: center;
}

.button {
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  background-color: rgb(241, 167, 140);
}
.button_reset {
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  background-color: rgb(241, 167, 140);
}
.list {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px 0px 20px 40px;
}
.list-color {
  width: 350px;
  background-color: #ffffffcd;
  border-radius: 20px;
}
